* {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 1000vh;
  font-family: "poppins", sans-serif;
  color: lavender;
  /* background: #758283; */
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  background-color: #242b2e;
}

nav .right ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 23px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: lavender;
}

.left {
  font-weight: 1.5rem;
}

.firstSectoin {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 80px 0;
}

.firstSectoin > div {
  width: 30%;
}

.name {
  color: #00FFFF;
}

.leftSection {
  /* background-color: red; */
  font-size: 2.4rem;
}

.rightSection img {
  width: 102%;
  height: 102%;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}

main hr {
  border: 0;
  height: 0.02rem;
  background: orange;
  margin: 40px 84px;
}

.secondSction {
  margin: 0 84px;
/*   background: gray; */
  height: 100vh;
  padding: 20px;
  border-radius: 20px;
  color: black;
}
